
.darkBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 4;
}
/* .container {
    position: relative;
} */

.matchContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: #d2fcff;
  border-radius: 10px;
  width: 40rem;
  height: 50rem;
  padding: 2rem;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
}

.pokemonContainer h2 {
  margin-right: auto;
  padding-left: 1rem;
  padding-bottom: 25px;
  font-size: 2rem;
  
}

/* For WebKit-based browsers (Chrome, Safari) */
.matchContainer::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

.matchContainer::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons */
}

/* Track */
.matchContainer::-webkit-scrollbar-track {
  background: transparent; /* Set the background color of the scrollbar track */
}

/* Handle */
.matchContainer::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.05); /* Set the color and opacity of the scrollbar thumb */
  border: none;
  border-radius: 10px; /* Set the border radius of the scrollbar thumb to make it round */
}

/* Optionally, hide the scrollbar buttons */
/* This ensures consistent appearance across browsers */
.matchContainer::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons */
}
