.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: white;
  background-image: url(../../public/PokeFindrBackground2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  margin-bottom: 4rem;
}

.logo h1 {
  position: absolute;
  margin-top: 7rem;
}

/* .pokemon_container {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #d2d5d6;
  width: 100%;
} */
